z      /* CSS styles */
      :root {
        --main-bg-color: #fafafa;
        --main-text-color: #444;
    }

    /* Body styles */
    body {
        background-color: var(--main-bg-color);
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Heading styles */
    h1 {
        color: var(--main-text-color);
        font-size: 2.5em;
        letter-spacing: 2px;
        padding: 3m 0;
        text-align: center;
        text-transform: uppercase;
    }

    /* Container styles */

    #circleCountBox {
        display: block;
        width: 10%;
        height: auto;
        margin: 20px auto;
        border: 1px solid #5a5757;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    p{
        text-align: center;
    }
    #snapshot {
        display: block;
        width: 30%;
        height: auto;
        margin: 20px auto;
        border: 1px solid #5a5757;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    #videoInput,
    #videoVFX,
    #videoOutput {
        display: block;
        width: 5%;
        height: auto;
        margin: 0%;
        border: 1px solid #5a5757;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    /* Container alignment */
    #videoContainer,
    #buttonContainer {
        display: flex;
        justify-content: center;
        padding: 40px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    /* Instruction container styles */


    #instructionBox {
        display: none;
        justify-content: center;
        text-align: center;
    }

    #instructionDropdown {
        display: block;
        width: 20%;
        height: auto;
        margin: 20px auto;
        border: 1px solid #5a5757;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }